body{
    background-color:rgb(41, 144, 234);
}
.logo{
    background-image: url(PNGtransparant500x500.png);
    width: 300px;
    height: 300px;
    background-size: contain;
    margin: auto;
}
.text{
    color: white;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.stadgar{
    color: black;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    
}
a :hover{
    color: grey;
}
a{
    color: black;  
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}