
body{
    background-color: aliceblue;
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    }
.header{
    margin-top: 50px;
    height: 350px;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 250px;
    background-image: url(PNGtransparant500x500.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.headertext{
    margin: auto;
    float: left;
    font-size: 250%;
    margin-left: 5%;
    background-color: aqua;
    line-height: 200px;
}
a:link {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #999;
}
.meny {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 40px;
}
.meny li {
    margin: 0 30px;
    background-color: black;
}
.linje{
    height: 20px;
    width: 50px;
    background-color: yellow;
}
.meny2 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 40px;
}
.meny2 li {
    margin: 0 85px;
    background-color: green;
}
